*{
	margin: 0;
	padding: 0;
}
html{
	font-size: 62.5%;
}
body{
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}
.name{
	text-align: center;
	width: 100%;
	height: 4.5rem;
	font-size: 1.3rem;
	background-color: #013D72;
	color: snow;
	text-transform: capitalize;
	z-index: 1;

}
.name h2{
	padding-top: .9rem;
	font-size: 2rem;
	color: snow;
}
.name img{
	display: none;
}
.name .fa-bars{
	display: none;
}
.nav_item{
	width: 60%;
	height: 6.0rem;
	margin-top: 2.0rem;
	margin-left: 26rem;
	z-index: 2;

}
.nav_item ul{
	display: flex;
	list-style: none;
	width: 100%;
	z-index: 1;
}

.nav_item ul li{
	margin-left: 5.5rem;
	padding-top: 2rem;
	z-index: 2;
}
/*.nav_item ul .ring img{
	position: absolute;
	left: 70rem;
	top: 4.2rem;
	height: 12.8rem;
	width: 12.8rem;
	z-index: 1;
}*/
.nav_item ul .logo img{
	position: absolute;
	left: 72rem;
	top: 4.8rem;
	height: 8.8rem;
	width: 7.9rem;
	border-radius: 40%;
	cursor: pointer;
	z-index: 1;
}

.nav_item ul li a{
	text-decoration: none;
	text-transform: capitalize;
	color: black;
	font-weight: bold;
	font-size: 1.5rem;
}
.nav_item ul li a:hover{
	color: #1872A5;
}
.nav_item ul li .home{
	color: #1872A5;
}
.nav_item ul .special{
	margin-left: 30rem;
}

.about_inner{
	display: none;
}
.about:hover .about_a{
	color: #1872A5;
}
.about:hover .about_inner{
	display: block;
	height: 10rem;
	width: 8rem;
	left: 43.2rem;
	position: absolute;
}
.about:hover .about_inner ul{
	display: grid;
	background-color: grey;
	height: 8.8rem;
	width: 12rem;
	margin-top: 1rem;
}
.about:hover .about_inner ul li{
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 0;
	text-align: center;
	height: 2rem;
	background-color: white;
	padding-top: 1.2rem;
	padding-bottom: 1.4rem;
}
.about:hover .about_inner ul li:hover{
	background-color: #013D72;
	transition: 1s;
}
.about:hover .about_inner ul li:hover a{
	color: white;
}
.about:hover .about_inner ul li a{
	font-size: 1.4rem;
}



.event_inner{
	display: none;
}
.event .event_a{
	color: #1872A5;
}
.event:hover .event_a{
	color: #006094;
}
.event:hover .event_inner{
	display: block;
	height: 10rem;
	width: 8rem;
	left: 53rem;
	position: absolute;
}
.event:hover .event_inner ul{
	display: grid;
	background-color: grey;
	height: 9rem;
	width: 12rem;
	margin-top: 1rem;
}
.event:hover .event_inner ul li{
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 0;
	text-align: center;
	height: 2rem;
	background-color: white;
	padding-top: 1.2rem;
	padding-bottom: 1.4rem;
}
.event:hover .event_inner ul li:hover{
	background-color: #013D72;
	transition: 1s;
}
.event:hover .event_inner ul li:hover a{
	color: white;
}
.event:hover .event_inner ul li a{
	font-size: 1.3rem;
}


.gallery_inner{
	display: none;
}
.special:hover .special_a{
	color: #1872A5;
}
.special:hover .gallery_inner{
	display: block;
	height: 10rem;
	width: 8rem;
	left: 87.5rem;
	position: absolute;
}
.special:hover .gallery_inner ul{
	display: grid;
	background-color: white;
	height: 8.8rem;
	width: 12rem;
	margin-top: 1rem;
	
}
.special:hover .gallery_inner ul li{
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 0;
	text-align: center;
	height: 2rem;
	background-color: white;
	padding-top: 1.2rem;
	padding-bottom: 1.4rem;
}
.special:hover .gallery_inner ul li:hover{
	background-color: #013D72;
	transition: 0.9s;
}

.special:hover .gallery_inner ul li a{
	font-size: 1.3rem;
}
.special:hover .gallery_inner ul li:hover a{
	color: white;
}




.news_inner{
/*	display: none;*/
}
.news:hover .news_a{
	color: #1872A5;
}
.news:hover .news_inner{
	display: block;
	height: 10rem;
	width: 8rem;
	left: 97.6rem;
	position: absolute;
}
.news:hover .news_inner ul{
	display: grid;
	background-color: grey;
	height: 17.6rem;
	width: 12rem;
	margin-top: 1rem;
}
.news:hover .news_inner ul li{
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 0;
	text-align: center;
	height: 2rem;
	background-color: white;
	padding-top: 1.2rem;
	padding-bottom: 1.4rem;
}
.news:hover .news_inner ul li:hover{
	background-color: #013D72;
	transition: 1s;
}
.news:hover .news_inner ul li:hover a{
	color: white;
}
.news:hover .news_inner ul li a{
	font-size: 1.3rem;
}




.contact_inner{
	display: none;
}
.contact:hover .contact_a{
	color: #1872A5;
}
.contact:hover .contact_inner{
	display: block;
	height: 10rem;
	width: 8rem;
	left: 108.4rem;
	position: absolute;
}
.contact:hover .contact_inner ul{
	display: grid;
	background-color: grey;
	height: 8.5rem;
	width: 12rem;
	margin-top: 1rem;
}
.contact:hover .contact_inner ul li{
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 0;
	text-align: center;
	height: 2rem;
	background-color: white;
	padding-top: 1.25rem;
	padding-bottom: 1.4rem;
}
.contact:hover .contact_inner ul li:hover{
	background-color: #013D72;
	transition: 1s;
}
.contact:hover .contact_inner ul li:hover a{
	color: white;
}
.contact:hover .contact_inner ul li a{
	font-size: 1.2rem;
}



.social_media_inner{
	display: none;
}
.social_media:hover .social_media_inner{
	display: block;
	height: 18.5rem;
	width: 12rem;
	left: 12rem;
	top: 4.7rem;
	position: absolute;
}
.social_media:hover .social_media_inner ul{
	display: grid;
	background-color: grey;
	height: 18.5rem;
	width: 12rem;
	margin-top: 1rem;
}
.social_media:hover .social_media_inner ul li{
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 0;
	text-align: center;
	height: 2rem;
	background-color: white;
	padding-top: 1.2rem;
	padding-bottom: 1.4rem;
}
.social_media:hover .social_media_inner ul li:hover{
	background-color: #013D72;
	transition: 1s;
}
.social_media:hover .social_media_inner:hover ul li a{
	font-size: 1.2rem;
	color: black;
}
.social_media:hover .social_media_inner ul li:hover a{
	color: white;
}
.social_media:hover .social_media_inner ul li{
	background-color: #9C9C9C;
}
.cross{
	display: none;
}
@media only screen and (max-width:850px){
	html{
		font-size: 41%;
	}
	.name{
		text-align: left;
		width: 100%;
		height: 6.5rem;
		font-size: 1.3rem;
		background-color: #013D72;
		color: snow;
		text-transform: capitalize;
		display: flex;

	}
	.name h2{
		padding-top: 1.3rem;
		font-size: 2.8rem;
		color: #ffffff;
		margin-left: 1rem;
	}
	.name .fa-bars{
		display: block;
		font-size: 3.4rem;
		z-index: 1;
		color: #ffffff;
		position: absolute;
		top: 1.6rem;
		left: 91%;
	}
	.name img{
		display: block;
		padding-top: .5rem;
		margin-left: 2rem;
		height: 5rem;
		width: 5rem;
	}
	.event .event_a{
		color: #A3A3A3;
	}
	nav .nav_item ul .logo{
		display: none;
	}
	nav .nav_item{
		background-color: #013d72;
		height: 100%;
		width: 50%;
		position: absolute;
		z-index: 2;
		top: 0;
		right: 0;
		display: none;
	}
	nav .nav_item ul{
		display: grid;
		padding-top: 10rem;
		padding-left: 1.5rem;
	}
	nav .nav_item ul .cross{
		display: block;
		font-size: 4rem;
		position: absolute;
		top: 0;
		color: #ffffff;
		left: -2rem;
	}
	nav .nav_item ul li a{
		color: #ffffff;
		font-size: 2rem;
	}
	nav .nav_item ul .special{
		margin-left: 5.35rem;
	}
}
@media only screen and (width:1366px){
	.nav_item{
		width: 60%;
		height: 6.0rem;
		margin-top: 2rem;
		margin-left: 18rem;
		z-index: 1;
	}
	.nav_item ul .logo img{
		position: absolute;
		left: 64rem;
		top: 4.8rem;
		height: 8.8rem;
		width: 7.9rem;
		border-radius: 40%;
		cursor: pointer;
		z-index: 1;
	}
}



main section .events_flow{
	width: 100%;
	height: 56rem;
	margin-top: 5rem;
}
main section .events_flow .events_flow_section1{
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 28rem;
	margin-top: 4rem;
}
main section .events_flow .events_flow_section2{
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 28rem;
}
main section .events_flow .event_div1{
	width: 32%;
	height: 25rem;
	text-align: center;
	cursor: pointer;
	z-index: 1;
	box-shadow: 0 0 0 .2rem black;
}
main section .events_flow .event_div2{
	width: 32%;
	height: 25rem;
	z-index: 1;
	box-shadow: 0 0 0 .2rem black;
}
main section .events_flow .event_div3{
	width: 32%;
	z-index: 1;
	height: 25rem;
	box-shadow: 0 0 0 .2rem black;
}
main section .events_flow .event_div4{
	width: 32%;
	height: 25rem;
	z-index: 1;
	box-shadow: 0 0 0 .2rem black;
}
main section .events_flow .event_div5{
	width: 32%;
	height: 25rem;
	z-index: 1;
	box-shadow: 0 0 0 .2rem black;
}
main section .events_flow .event_div6{
	width: 32%;
	height: 25rem;
	z-index: 1;
	box-shadow: 0 0 0 .2rem black;
}
main section .events_flow .event_div1:hover{
	transition: .8s;
	background-color: #013d72;
	color: #ffffff;
}
main section .events_flow .event_div2:hover{
	transition: .8s;
	background-color: #013d72;
	color: #ffffff;
}
main section .events_flow .event_div3:hover{
	transition: .8s;
	background-color: #013d72;
	color: #ffffff;
}
main section .events_flow .event_div4:hover{
	transition: .8s;
	background-color: #013d72;
	color: #ffffff;
}
main section .events_flow .event_div5:hover{
	transition: .8s;
	background-color: #013d72;
	color: #ffffff;
}
main section .events_flow .event_div6:hover{
	transition: .8s;
	background-color: #013d72;
	color: #ffffff;
}


main section .events_flow .event_div1 img{
	width: 100%;
	height: 22rem;
}
main section .events_flow .event_div1 span{
	width: 100%;
	text-align: center;
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: bold;
}
main section .events_flow .event_div1 .event_div1_inner{
	position: absolute;
	top: 16rem;
	left: 0;
	height: 75%;
	width: 100%;
	background-color: #013d72;
	z-index: 2;
	text-align: center;
	display: none;
	transition: 0.9s;
}
main section .events_flow .event_div1 .event_div1_inner img{
	height: 65%;
	width: 70%;
	margin-top: 1rem;
	border-radius: 1rem;
}
main section .events_flow .event_div1 .event_div1_inner h2{
	text-transform: uppercase;
	margin-top: 2rem;
	font-size: 1.7rem;
	color: #ffffff;
}
main section .events_flow .event_div1 .event_div1_inner p{
	width: 70%;
	margin-left: 23rem;
	font-size: 1.2rem;
	margin-top: 1rem;
	text-align: justify;
	color: #ffffff;
}
main section .events_flow .event_div1 .event_div1_inner .fa-xmark{
	font-size: 4rem;
	color: #ffffff;
	position: absolute;
	top: 3%;
	left: 95%;
}


main section .events_flow .event_div2{
	width: 32%;
	height: 25rem;
	text-align: center;
	cursor: pointer;
}
main section .events_flow .event_div2 img{
	width: 100%;
	height: 22rem;
}
main section .events_flow .event_div2 span{
	width: 100%;
	text-align: center;
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: bold;
}
main section .events_flow .event_div2 .event_div1_inner2{
	position: absolute;
	top: 16rem;
	left: 0;
	height: 75%;
	width: 100%;
	z-index: 2;
	background-color: #013d72;
	text-align: center;
	display: none;
	transition: 0.9s;
}
main section .events_flow .event_div2 .event_div1_inner2 img{
	height: 65%;
	width: 70%;
	margin-top: 1rem;
	border-radius: 1rem;
}
main section .events_flow .event_div2 .event_div1_inner2 h2{
	text-transform: uppercase;
	margin-top: 2rem;
	font-size: 1.7rem;
	color: #ffffff;
}
main section .events_flow .event_div2 .event_div1_inner2 p{
	width: 70%;
	margin-left: 23rem;
	margin-top: 1rem;
	font-size: 1.2rem;
	text-align: justify;
	color: #ffffff;
}
main section .events_flow .event_div2 .event_div1_inner2 .fa-xmark{
	font-size: 4rem;
	color: #ffffff;
	position: absolute;
	top: 3%;
	left: 95%;
}


main section .events_flow .event_div3{
	width: 32%;
	height: 25rem;
	box-shadow: 0 0 0 .2rem black;
	text-align: center;
	cursor: pointer;
}
main section .events_flow .event_div3 img{
	width: 100%;
	height: 22rem;
}
main section .events_flow .event_div3 span{
	width: 100%;
	text-align: center;
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: bold;
}
main section .events_flow .event_div3 .event_div1_inner3{
	position: absolute;
	top: 16rem;
	left: 0;
	height: 75%;
	width: 100%;
	z-index: 2;
	background-color: #013d72;
	text-align: center;
	display: none;
	transition: 0.9s;
}
main section .events_flow .event_div3 .event_div1_inner3 img{
	height: 65%;
	width: 70%;
	margin-top: 1rem;
	border-radius: 1rem;
}
main section .events_flow .event_div3 .event_div1_inner3 h2{
	text-transform: uppercase;
	margin-top: 2rem;
	font-size: 1.7rem;
	color: #ffffff;
}
main section .events_flow .event_div3 .event_div1_inner3 p{
	width: 70%;
	margin-left: 23rem;
	margin-top: 1rem;
	font-size: 1.2rem;
	text-align: justify;
	color: #ffffff;
}
main section .events_flow .event_div3 .event_div1_inner3 .fa-xmark{
	font-size: 4rem;
	color: #ffffff;
	position: absolute;
	top: 3%;
	left: 95%;
}

@media only screen and (max-width:850px){
	
	main section .events_flow{
		width: 100%;
		height: 172rem;
		margin-top: 4rem;
		z-index: 1;
	}
	main section .events_flow .events_flow_section1{
		width: 100%;
		display: grid;
		height: 78rem;
		margin-top: 4rem;

	}
	main section .events_flow .events_flow_section2{
		width: 100%;
		height: 78rem;
		display: grid;
	}
	main section .events_flow .event_div1{
		width: 100%;
		height: 25rem;
		text-align: center;
		cursor: pointer;
		z-index: 1;
		box-shadow: 0 0 0 .2rem black;
	}
	main section .events_flow .event_div2{
		width: 100%;
		height: 25rem;
		box-shadow: 0 0 0 .2rem black;
	}
	main section .events_flow .event_div3{
		width: 100%;
		height: 25rem;
		box-shadow: 0 0 0 .2rem black;
		z-index: 1;
	}
	main section .events_flow .event_div4{
		width: 100%;
		height: 25rem;
		box-shadow: 0 0 0 .2rem black;
	}
	main section .events_flow .event_div5{
		width: 100%;
		height: 25rem;
		box-shadow: 0 0 0 .2rem black;
	}
	main section .events_flow .event_div6{
		width: 100%;
		height: 25rem;
		box-shadow: 0 0 0 .2rem black;
	}

	main section .events_flow .event_div1 .event_div1_inner{
		position: absolute;
		top: 10rem;
		left: 0;
		height: 50%;
		width: 100%;
		background-color: #013d72;
		z-index: 2;
		text-align: center;
		display: none;
		transition: 0.9s;
	}
	main section .events_flow .event_div1 .event_div1_inner img{
		height: 40%;
		width: 75%;
		margin-top: 2rem;
		border-radius: 1rem;
	}
	main section .events_flow .event_div1 .event_div1_inner h2{
		text-transform: uppercase;
		margin-top: 2rem;
		font-size: 1.7rem;
		color: #ffffff;
	}
	main section .events_flow .event_div1 .event_div1_inner p{
		width: 75%;
		margin-left: 7rem;
		text-transform: capitalize;
		font-size: 1rem;
		margin-top: 2rem;
		text-align: justify;
		color: #ffffff;
	}
	main section .events_flow .event_div1 .event_div1_inner .fa-xmark{
		font-size: 4rem;
		color: #ffffff;
		position: absolute;
		top: 3%;
		left: 95%;
		display: none;
	}


	main section .events_flow .event_div2{
		width: 100%;
		height: 25rem;
		text-align: center;
		cursor: pointer;
	}
	main section .events_flow .event_div2 img{
		width: 100%;
		height: 22rem;
	}
	main section .events_flow .event_div2 span{
		width: 100%;
		text-align: center;
		font-size: 1.5rem;
		text-transform: uppercase;
		font-weight: bold;
	}
	main section .events_flow .event_div2 .event_div1_inner2{
		position: absolute;
		top: 20rem;
		left: 0;
		height: 45%;
		width: 100%;
		background-color: #013d72;
		z-index: 2;
		text-align: center;
		display: none;
		transition: 0.9s;
	}
	main section .events_flow .event_div2 .event_div1_inner2 img{
		height: 35%;
		width: 75%;
		margin-top: 5rem;
		border-radius: 1rem;
	}
	main section .events_flow .event_div2 .event_div1_inner2 h2{
		text-transform: uppercase;
		margin-top: 2rem;
		font-size: 1.5rem;
		color: #ffffff;
	}
	main section .events_flow .event_div2 .event_div1_inner2 p{
		width: 75%;
		margin-left: 7rem;
		margin-top: 1rem;
		font-size: .9rem;
		text-align: justify;
		color: #ffffff;
	}
	main section .events_flow .event_div2 .event_div1_inner2 .fa-xmark{
		font-size: 4rem;
		color: #ffffff;
		position: absolute;
		top: 3%;
		left: 95%;
		display: none;
	}



	main section .events_flow .event_div3{
		width: 100%;
		height: 25rem;
		box-shadow: 0 0 0 .2rem black;
		text-align: center;
		cursor: pointer;
	}
	main section .events_flow .event_div3 img{
		width: 100%;
		height: 22rem;
	}
	main section .events_flow .event_div3 span{
		width: 100%;
		text-align: center;
		font-size: 1.5rem;
		text-transform: uppercase;
		font-weight: bold;
	}
	main section .events_flow .event_div3 .event_div1_inner3{
		position: absolute;
		top: 44rem;
		left: 0;
		height: 45%;
		width: 100%;
		background-color: #013d72;
		z-index: 2;
		text-align: center;
		display: none;
		transition: 0.9s;
	}
	main section .events_flow .event_div3 .event_div1_inner3 img{
		height: 35%;
		width: 75%;
		margin-top: 5rem;
		border-radius: 1rem;
	}
	main section .events_flow .event_div3 .event_div1_inner3 h2{
		text-transform: uppercase;
		margin-top: 2rem;
		font-size: 1.5rem;
		color: #ffffff;
	}
	main section .events_flow .event_div3 .event_div1_inner3 p{
		width: 75%;
		margin-left: 7rem;
		margin-top: 1rem;
		font-size: .9rem;
		text-align: justify;
		color: #ffffff;
	}
	main section .events_flow .event_div3 .event_div1_inner3 .fa-xmark{
		font-size: 4rem;
		color: #ffffff;
		position: absolute;
		top: 3%;
		display: none;
		left: 95%;
	}

}







main section .events_flow .event_div4{
	width: 32%;
	height: 25rem;
	box-shadow: 0 0 0 .2rem black;
	text-align: center;
	cursor: pointer;
}
main section .events_flow .event_div4 img{
	width: 100%;
	height: 22rem;
}
main section .events_flow .event_div4 span{
	width: 100%;
	text-align: center;
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: bold;
}
main section .events_flow .event_div4 .event_div1_inner4{
	position: absolute;
	top: 16rem;
	left: 0;
	height: 75%;
	width: 100%;
	z-index: 2;
	background-color: #013d72;
	text-align: center;
	display: none;
	transition: 0.9s;
}
main section .events_flow .event_div4 .event_div1_inner4 img{
	height: 65%;
	width: 70%;
	margin-top: 1rem;
	border-radius: 1rem;
}
main section .events_flow .event_div4 .event_div1_inner4 h2{
	text-transform: uppercase;
	margin-top: 2rem;
	font-size: 1.7rem;
	color: #ffffff;
}
main section .events_flow .event_div4 .event_div1_inner4 p{
	width: 70%;
	margin-left: 23rem;
	margin-top: 1rem;
	font-size: 1.2rem;
	text-align: justify;
	color: #ffffff;
}
main section .events_flow .event_div4 .event_div1_inner4 .fa-xmark{
	font-size: 4rem;
	color: #ffffff;
	position: absolute;
	top: 3%;
	left: 95%;
}



main section .events_flow .event_div5{
	width: 32%;
	height: 25rem;
	box-shadow: 0 0 0 .2rem black;
	text-align: center;
	cursor: pointer;
}
main section .events_flow .event_div5 img{
	width: 100%;
	height: 22rem;
}
main section .events_flow .event_div5 span{
	width: 100%;
	text-align: center;
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: bold;
}
main section .events_flow .event_div5 .event_div1_inner5{
	position: absolute;
	top: 16rem;
	left: 0;
	height: 75%;
	width: 100%;
	z-index: 2;
	background-color: #013d72;
	text-align: center;
	display: none;
	transition: 0.9s;
}
main section .events_flow .event_div5 .event_div1_inner5 img{
	height: 65%;
	width: 70%;
	margin-top: 1rem;
	border-radius: 1rem;
}
main section .events_flow .event_div5 .event_div1_inner5 h2{
	text-transform: uppercase;
	margin-top: 2rem;
	font-size: 1.7rem;
	color: #ffffff;
}
main section .events_flow .event_div5 .event_div1_inner5 p{
	width: 70%;
	margin-left: 23rem;
	margin-top: 1rem;
	font-size: 1.2rem;
	text-align: justify;
	color: #ffffff;
}
main section .events_flow .event_div5 .event_div1_inner5 .fa-xmark{
	font-size: 4rem;
	color: #ffffff;
	position: absolute;
	top: 3%;
	left: 95%;
}



main section .events_flow .event_div6{
	width: 32%;
	height: 25rem;
	box-shadow: 0 0 0 .2rem black;
	text-align: center;
	cursor: pointer;
}
main section .events_flow .event_div6 img{
	width: 100%;
	height: 22rem;
}
main section .events_flow .event_div6 span{
	width: 100%;
	text-align: center;
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: bold;
}
main section .events_flow .event_div6 .event_div1_inner6{
	position: absolute;
	top: 16rem;
	left: 0;
	height: 75%;
	width: 100%;
	z-index: 2;
	background-color: #013d72;
	text-align: center;
	display: none;
	transition: 0.9s;
}
main section .events_flow .event_div6 .event_div1_inner6 img{
	height: 65%;
	width: 70%;
	margin-top: 1rem;
	border-radius: 1rem;
}
main section .events_flow .event_div6 .event_div1_inner6 h2{
	text-transform: uppercase;
	margin-top: 2rem;
	font-size: 1.7rem;
	color: #ffffff;
}
main section .events_flow .event_div6 .event_div1_inner6 p{
	width: 70%;
	margin-left: 23rem;
	margin-top: 1rem;
	font-size: 1.2rem;
	text-align: justify;
	color: #ffffff;
}
main section .events_flow .event_div6 .event_div1_inner6 .fa-xmark{
	font-size: 4rem;
	color: #ffffff;
	position: absolute;
	top: 3%;
	left: 95%;
}

@media only screen and (max-width:850px){
	main section .events_flow .event_div4{
		width: 100%;
		height: 25rem;
		box-shadow: 0 0 0 .2rem black;
		text-align: center;
		cursor: pointer;
	}
	main section .events_flow .event_div4 img{
		width: 100%;
		height: 22rem;
	}
	main section .events_flow .event_div4 span{
		width: 100%;
		text-align: center;
		font-size: 1.5rem;
		text-transform: uppercase;
		font-weight: bold;
	}
	main section .events_flow .event_div4 .event_div1_inner4{
		position: absolute;
		top: 69rem;
		left: 0;
		height: 50%;
		width: 100%;
		background-color: #013d72;
		z-index: 2;
		text-align: center;
		display: none;
		transition: 0.9s;
	}
	main section .events_flow .event_div4 .event_div1_inner4 img{
		height: 40%;
		width: 75%;
		margin-top: 5rem;
		border-radius: 1rem;
	}
	main section .events_flow .event_div4 .event_div1_inner4 h2{
		text-transform: uppercase;
		margin-top: 2rem;
		font-size: 1.7rem;
		color: #ffffff;
	}
	main section .events_flow .event_div4 .event_div1_inner4 p{
		width: 75%;
		margin-left: 7rem;
		margin-top: 1rem;
		font-size: .9rem;
		text-align: justify;
		color: #ffffff;
	}
	main section .events_flow .event_div4 .event_div1_inner4 .fa-xmark{
		font-size: 4rem;
		color: #ffffff;
		position: absolute;
		top: 3%;
		left: 95%;
		display: none;
	}



	main section .events_flow .event_div5{
		width: 100%;
		height: 25rem;
		box-shadow: 0 0 0 .2rem black;
		text-align: center;
		cursor: pointer;
	}
	main section .events_flow .event_div5 img{
		width: 100%;
		height: 22rem;
	}
	main section .events_flow .event_div5 span{
		width: 100%;
		text-align: center;
		font-size: 1.5rem;
		text-transform: uppercase;
		font-weight: bold;
	}
	main section .events_flow .event_div5 .event_div1_inner5{
		position: absolute;
		top: 98rem;
		left: 0;
		height: 50%;
		width: 100%;
		background-color: #013d72;
		z-index: 2;
		text-align: center;
		display: none;
		transition: 0.9s;
	}
	main section .events_flow .event_div5 .event_div1_inner5 img{
		height: 40%;
		width: 75%;
		margin-top: 5rem;
		border-radius: 1rem;
	}
	main section .events_flow .event_div5 .event_div1_inner5 h2{
		text-transform: uppercase;
		margin-top: 2rem;
		font-size: 1.7rem;
		color: #ffffff;
	}
	main section .events_flow .event_div5 .event_div1_inner5 p{
		width: 75%;
		margin-left: 7rem;
		margin-top: 1rem;
		font-size: .9rem;
		text-align: justify;
		color: #ffffff;
	}
	main section .events_flow .event_div5 .event_div1_inner5 .fa-xmark{
		font-size: 4rem;
		color: #ffffff;
		position: absolute;
		top: 3%;
		left: 95%;
		display: none;
	}



	main section .events_flow .event_div6{
		width: 100%;
		height: 25rem;
		box-shadow: 0 0 0 .2rem black;
		text-align: center;
		cursor: pointer;
	}
	main section .events_flow .event_div6 img{
		width: 100%;
		height: 22rem;
	}
	main section .events_flow .event_div6 span{
		width: 100%;
		text-align: center;
		font-size: 1.5rem;
		text-transform: uppercase;
		font-weight: bold;
	}
	main section .events_flow .event_div6 .event_div1_inner6{
		position: absolute;
		top: 92rem;
		left: 0;
		height: 50%;
		width: 100%;
		background-color: #013d72;
		z-index: 2;
		text-align: center;
		display: none;
		transition: 0.9s;
	}
	main section .events_flow .event_div6 .event_div1_inner6 img{
		height: 40%;
		width: 75%;
		margin-top: 5rem;
		border-radius: 1rem;
	}
	main section .events_flow .event_div6 .event_div1_inner6 h2{
		text-transform: uppercase;
		margin-top: 2rem;
		font-size: 1.7rem;
		color: #ffffff;
	}
	main section .events_flow .event_div6 .event_div1_inner6 p{
		width: 75%;
		margin-left: 7rem;
		margin-top: 1rem;
		font-size: .9rem;
		text-align: justify;
		color: #ffffff;
	}
	main section .events_flow .event_div6 .event_div1_inner6 .fa-xmark{
		font-size: 4rem;
		color: #ffffff;
		position: absolute;
		top: 3%;
		left: 95%;
		display: none;
	}
}



.hide_me{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}




main section footer{
	margin-top: 9rem;
	height: 35.5rem;
	width: 100%;
	background-color: #013d72;
	
}

main section footer .footer_div1{
	display: flex;
	justify-content: space-around;
	padding-top: 5rem;
}

main section footer .footer_div1 .footer_div1_phase1{
	width: 29%;
}

main section footer .footer_div1 .footer_div1_phase1 ul li{
	list-style: none;
}
main section footer .footer_div1 .footer_div1_phase1 ul li h1{
	text-transform: uppercase;
	font-size: 2rem;
	color: #ffffffff;
}
main section footer .footer_div1 .footer_div1_phase1 ul li p{
	text-transform: capitalize;
	font-size: 1.2rem;
	padding-top: 1.5rem;
	text-align: justify;
	width: 90%;
	color: #777777;
	font-weight: bold;
}

main section footer .footer_div1 .footer_div1_phase2{
	width: 6%;
}
main section footer .footer_div1 .footer_div1_phase2 ul li{
	list-style: none;
	margin-top: 1.5rem;
}
main section footer .footer_div1 .footer_div1_phase2 ul li a{
	text-decoration: none;
	color: #777777;
	font-weight: bold;
	font-size: 1.5rem;
	text-transform: capitalize;
}
main section footer .footer_div1 .footer_div1_phase2 ul li a:hover{
	color: #ffffff;
	transition: .5s;
}

main section footer .footer_div1 .footer_div1_phase3{
	width: 6%;
}
main section footer .footer_div1 .footer_div1_phase3 ul li{
	list-style: none;
	margin-top: 1.5rem;
}
main section footer .footer_div1 .footer_div1_phase3 ul li a{
	text-decoration: none;
	color: #777777;
	font-weight: bold;
	font-size: 1.5rem;
	text-transform: capitalize;
}
main section footer .footer_div1 .footer_div1_phase3 ul li a:hover{
	color: #ffffff;
	transition: .5s;
}

main section footer .footer_div1 .footer_div1_phase4{
	width: 10%;
}
main section footer .footer_div1 .footer_div1_phase4 ul li{
	list-style: none;
	margin-top: 1.5rem;
}
main section footer .footer_div1 .footer_div1_phase4 ul li a{
	text-decoration: none;
	color: #777777;
	font-weight: bold;
	font-size: 1.5rem;
	text-transform: capitalize;
}
main section footer .footer_div1 .footer_div1_phase4 ul li a:hover{
	color: #ffffff;
	transition: .5s;
}

main section footer .footer_div1 .footer_div1_phase5{
	width: 12%;
}
main section footer .footer_div1 .footer_div1_phase5 ul{
	display: flex;
	justify-content: space-around;
}
main section footer .footer_div1 .footer_div1_phase5 ul li{
	list-style: none;
	padding: 1rem;
}
main section footer .footer_div1 .footer_div1_phase5 ul li a{
	color: #777777;
	font-size: 2rem;
}
main section footer .footer_div1 .footer_div1_phase5 ul li a:hover{
	color: #ffffff;
	transition: .5s;
}
main section footer .footer_div1 .footer_div1_phase5 iframe{
	height: 60%;
	width: 100%;
	border-radius: 5%;
	font-size: .5rem;
}



main section footer .footer_div2{
	width: 70%;
	height: 25%;
	margin-left: 22rem;
	margin-top: 1rem;
	border-top: .1rem solid #777777;
	text-align: center;
	font-size: 1.2rem;
	position: relative;
}
main section footer .footer_div2 span{
	position: absolute;
	top: 40%;
	left: 43%;
	color: #777777;
	font-weight: bolda;
}

@media only screen and (max-width:850px){
	main section footer{
		margin-top: 6rem;
		height: 30rem;
		width: 100%;
		background-color: #013d72;
		
	}

	main section footer .footer_div1{
		display: flex;
		justify-content: space-around;
		padding-top: 5rem;
	}

	main section footer .footer_div1 .footer_div1_phase1{
		width: 29%;
		display: none;
	}

	main section footer .footer_div1 .footer_div1_phase1 ul li{
		list-style: none;
	}
	main section footer .footer_div1 .footer_div1_phase1 ul li h1{
		text-transform: uppercase;
		font-size: 2rem;
		color: #ffffffff;
	}
	main section footer .footer_div1 .footer_div1_phase1 ul li p{
		text-transform: capitalize;
		font-size: 1.2rem;
		padding-top: 1.5rem;
		text-align: justify;
		width: 90%;
		color: #777777;
		font-weight: bold;
	}

	main section footer .footer_div1 .footer_div1_phase2{
		width: 6%;
		display: none;
	}
	main section footer .footer_div1 .footer_div1_phase2 ul li{
		list-style: none;
		margin-top: 1.5rem;
	}
	main section footer .footer_div1 .footer_div1_phase2 ul li a{
		text-decoration: none;
		color: #777777;
		font-weight: bold;
		font-size: 1.5rem;
		text-transform: capitalize;
	}
	main section footer .footer_div1 .footer_div1_phase2 ul li a:hover{
		color: #ffffff;
		transition: .5s;
	}

	main section footer .footer_div1 .footer_div1_phase3{
		width: 6%;
		display: none;
	}
	main section footer .footer_div1 .footer_div1_phase3 ul li{
		list-style: none;
		margin-top: 1.5rem;
	}
	main section footer .footer_div1 .footer_div1_phase3 ul li a{
		text-decoration: none;
		color: #777777;
		font-weight: bold;
		font-size: 1.5rem;
		text-transform: capitalize;
	}
	main section footer .footer_div1 .footer_div1_phase3 ul li a:hover{
		color: #ffffff;
		transition: .5s;
	}

	main section footer .footer_div1 .footer_div1_phase4{
		width: 10%;
		display: none;
	}
	main section footer .footer_div1 .footer_div1_phase4 ul li{
		list-style: none;
		margin-top: 1.5rem;
	}
	main section footer .footer_div1 .footer_div1_phase4 ul li a{
		text-decoration: none;
		color: #777777;
		font-weight: bold;
		font-size: 1.5rem;
		text-transform: capitalize;
	}
	main section footer .footer_div1 .footer_div1_phase4 ul li a:hover{
		color: #ffffff;
		transition: .5s;
	}

	main section footer .footer_div1 .footer_div1_phase5{
		width: 12%;
	}
	main section footer .footer_div1 .footer_div1_phase5 ul{
		display: flex;
		justify-content: space-around;
	}
	main section footer .footer_div1 .footer_div1_phase5 ul li{
		list-style: none;
		padding: 1rem;
	}
	main section footer .footer_div1 .footer_div1_phase5 ul li a{
		color: #777777;
		font-size: 2rem;
	}
	main section footer .footer_div1 .footer_div1_phase5 ul li a:hover{
		color: #ffffff;
		transition: .5s;
	}
	main section footer .footer_div1 .footer_div1_phase5 iframe{
		height: 60%;
		width: 100%;
		border-radius: 5%;
		font-size: .5rem;
		display: none;
	}



	main section footer .footer_div2{
		width: 70%;
		height: 20%;
		margin-left: 8.5rem;
		margin-top: 1rem;
		border-top: .1rem solid #777777;
		text-align: center;
		font-size: 1.2rem;
		position: relative;
	}
	main section footer .footer_div2 span{
		position: absolute;
		top: 30%;
		left: 25%;
		color: #777777;
		font-weight: bolda;
	}
}